[submodule ".vim/git-diff-staged"]
	path = .vim/git-diff-staged
	url = https://git.functional.limited/whoisterencelee/git-diff-staged.git
[submodule ".vim/vim_llm"]
	path = .vim/vim_llm
	url = https://git.functional.limited/whoisterencelee/vim_llm.git
